<a href="https://colab.research.google.com/github/MuhammadJundullah/Data-Analysis/blob/main/E-Commerse%20Customer%20Analysis/Customers_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from google.colab import drive
drive.mount("/content/gdrive")

pd.set_option('display.max_columns', None)
sns.set_context('notebook')
sns.set_style('whitegrid')
sns.set_palette('Spectral')

import warnings
warnings.filterwarnings("ignore")

In [ ]:
df = pd.read_csv("/content/gdrive/MyDrive/Colab Notebooks/E-Commerse Customer_Dataset/Customers.csv")
df.head(2)

# Data Cleaning

In [ ]:
df.shape

In [ ]:
df.info()

In [ ]:
df.duplicated().sum()

In [ ]:
df.isnull().sum()

In [ ]:
for dtype, col in (list(zip(df.dtypes, df.columns))):
    if dtype == 'int64' or dtype == 'float64':
        print(col, dtype)
        print(df[col].min(), df[col].max())
    else:
        print(col, dtype)
        print(df[col].unique())

    print()

### Remove columns

In [ ]:
df.drop(columns=["CustomerID"], inplace=True)
df.head(2)

### Missing Values

In [ ]:
df.dropna(inplace=True)

# Data Eksploratory

### Outliers

In [ ]:
df_to_plot = df.select_dtypes(include=['float','int'])
df_to_plot.columns

In [ ]:
df_to_plot.plot(subplots=True, layout=[2,5], kind="box", figsize=(15,8))
plt.subplots_adjust(wspace=0.5);

### Data Distribution

In [ ]:
numeric = df_to_plot.columns
numeric

fig = plt.figure(figsize=(15,10))
ax = plt.gca()

df.hist(bins=50, ax=ax, layout=(4,4), column=numeric)
plt.tight_layout()
plt.show()



*   Rata rata customers memiliki income tahunan lebih dari 50000$
*   Rata rata customers memiliki work experience 0 - 2 tahun
*   Paling banyak customer yang membeli memiliki family size 2

### Data Insight

In [ ]:
corr = df_to_plot.corr()
sns.heatmap(corr, cmap="coolwarm", annot=True, fmt=".2f")
plt.show()

In [ ]:
df_to_plot.columns

In [ ]:
sns.scatterplot(data=df, x=df["Annual Income ($)"], y=df["Spending Score (1-100)"] )



*  Income tahunan customer tidak begitu memengaruhi spending score

In [ ]:
sns.scatterplot(data=df, x=df["Age"], y=df["Spending Score (1-100)"] )

*  Umur customer tidak begitu memengaruhi spending score

In [ ]:
mean_scores = df.groupby('Gender')['Spending Score (1-100)'].mean().sort_values(ascending=False)
plt.figure(figsize=(8, 10))
sns.boxplot(data=df, x='Gender', y='Spending Score (1-100)', order=mean_scores.index)
plt.show()



*   Gender Customer juga tidak begitu memengaruhi Spending Score

In [ ]:
mean_scores = df.groupby('Profession')['Spending Score (1-100)'].mean().sort_values(ascending=False)
plt.figure(figsize=(20, 10))
sns.boxplot(data=df, x='Profession', y='Spending Score (1-100)', order=mean_scores.index)
plt.show()



*   Customer yang memiliki Spending Score tinggi berprofesi sebagai Entertainment

In [ ]:
mean_scores = df.groupby('Work Experience')['Spending Score (1-100)'].mean().sort_values(ascending=False)
plt.figure(figsize=(20, 10))
sns.boxplot(data=df, x='Work Experience', y='Spending Score (1-100)', order=mean_scores.index)
plt.show()



*   Customer yang memiliki work ekperience belum banyak cenderung memiliki spend score tinggi

In [ ]:
mean_scores = df.groupby('Family Size')['Spending Score (1-100)'].mean().sort_values(ascending=False)
plt.figure(figsize=(20, 10))
sns.boxplot(data=df, x='Family Size', y='Spending Score (1-100)', order=mean_scores.index)
plt.show()